.scroll-top-block{
  position:fixed;
  opacity:0;
  visibility:hidden;
  overflow:hidden;
  z-index:99999999;
  bottom:30px;
  right: 30px;
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -ms-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
  span{
    color: #000;
    .fa-inverse{
      color: #fff;
      top: -3px;
    }
  }
}
.scroll-top-block.show{
  visibility:visible;
  cursor:pointer;
  opacity:.6;
}
.scroll-top-block.show:hover{opacity:1}
